/build.ninja
/cmake_install.cmake
/CMakeCache.txt
/qtcsettings.cmake
/build-test1-Desktop_Qt_6_2_3_MinGW_64_bit-RelWithDebInfo
/build-test1-Desktop_Qt_6_2_3_MinGW_64_bit-Debug
/build-test1-Desktop_Qt_6_2_3_MinGW_64_bit-MinSizeRel
/build-test1-Desktop_Qt_6_2_3_MinGW_64_bit-Release
/.qtc_clangd
/.cmake
/CMakeFiles
/Testing
/build-test1-Desktop_Qt_6_4_0_MinGW_64_bit-Debug
